
.yibody{
    display:flex;flex-direction:row;justify-content: space-between;height: 0.733333rem;border-top:1px solid #ccc;position:fixed;width:100%;bottom:0;
    a{
        flex:1;
        text-align:center;
        position:relative;
        i{
            font-size:0.266667rem;
            color:black;
            position:absolute;
            left:0.506667rem;top:0.106667rem;
        }
        span{
            font-size:0.16rem;
            color:black;
            position:absolute;
            left:0.466667rem;top:0.4rem;
        }
    }
    .red{
        background:red;
    }
}
