body,html{
    width: 100%;
}
.car{
    display:flex;
    flex-direction:column;
    position:relative;
    .header{
        position:fixed;
        display:flex;
        justify-content:space-between;
        height: 0.626667rem;
        width: 100%;
        border:0.013333rem solid #ccc;
        background:#fff;
        z-index:1000;
        .header_l{
            display:flex;
            float:left;
            width: 0.706667rem;
            height: 0.626667rem;
            color:#000;
            i{
                display:block;
                font-size:0.266667rem;
                color: #666;
                line-height:0.626667rem;
                text-align:center;
                padding-left:0.133333rem;
            }

        }
        .header_z{
            font-size:0.24rem;
            line-height:0.626667rem;
            text-align:center;
            span{
                color:#000;
                padding-right:0.266667rem;
            }
        }
        .header_r{
            font-size:0.213333rem;
            line-height:0.626667rem;
            text-align:center;
            span{
                padding-right:0.133333rem;
                .gengduo{display:none;}
            }
        }
    }

    .contains{
        padding-top:0.626667rem;
        display:flex;
        flex:1;
        flex-flow:column wrap;
        .datalist{
            width: 100%;
            .mian1{
                font-size:0.213333rem;
                .tou1{
                    display:flex;
                    justify-content:space-between;
                    height: 0.6rem;
                    line-height:0.6rem;
                    text-align:center;
                    border-bottom:0.013333rem solid #ccc;
                    position: relative;
                    color:#000;
                    .all{
                        position: absolute;
                        left:0.066667rem;
                        top:0.24rem;
                    }
                    .tou1_1{
                        float:left;
                        padding-left:0.466667rem;
                    }
                    .tou1_2{
                        float:right;
                    }
                }
            }
            .mian2{
                .mian2_1{
                    display:flex;
                    justify-content:space-between;
                    position: relative;
                    margin-top:0.133333rem;
                    margin-bottom:0.133333rem;
                    .inp{
                        float:left;
                        align-self:center;
                        margin-left:0.066667rem;
                        margin-right:0.226667rem;
                    }
                    .goods-list{
                        width:100%;
                        height: 1.266667rem;
                        float:right;
                        position: relative;
                        img{
                            width: 1.266667rem;
                            height: 1.266667rem;
                            background:red;
                            margin-right:0.066667rem;
                            float:left;
                        }
                        h5{
                            font-size:0.213333rem;
                            margin-left:10px;
                            color:#000;

                        }
                        p{
                            font-size:0.24rem;
                            color:red;
                            position: absolute;
                            left:1.266667rem;
                            top:0.533333rem;
                            margin-left:0.133333rem;
                        }
                    }
                    h4{
                            float:right;
                            font-size:0.266667rem;
                            text-align:center;
                            display:block;
                            width: 1.2rem;
                            height: 0.266667rem;
                            border:0.013333rem solid #ccc;
                            position: relative;
                            position: absolute;
                            left:3.466667rem;
                            top:0.6rem;
                            .jian{
                                float:left;
                                font-size:0.333333rem;
                                color:#000;
                                position: absolute;
                                left:0.053333rem;
                                top:-0.133333rem;
                            }
                            span{
                                width: 0.533333rem;
                                height: 0.266667rem;
                                float:left;
                                font-size:0.186667rem;
                                margin-left:0.306667rem;
                                border-left:0.013333rem solid #ccc;
                                border-right:0.013333rem solid #ccc;
                            }
                            .jia{
                                float:right;
                                line-height:0.266667rem;
                                font-size:0.333333rem;
                                color:#000;
                                position: absolute;
                                left:0.933333rem;
                                top:-0.026667rem;
                            }
                    }
                }
            }
        }
    }
    
    .footer{
        display:flex;
        justify-content:space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.8rem;
        border-top: 1px solid #EEEEEE;
        background:#fff;
            .qx{
                float:left;
                width: 0.6rem;
                height: 0.8rem;
                position: relative;
                .inp{
                    position: absolute;
                    left:5px;
                    top:0.133333rem;
                }
                h2{
                    font-size:0.186667rem;
                    position: absolute;
                    left:0.0rem;
                    top:0.346667rem;
                    z-index:1000;
                }
            }
            h3{
                height: 0.8rem;
                font-size:0.186667rem;
                text-align:center;
                position: relative;
                left:0.0rem;
                top:0.16rem;
            }
            h4{
                font-size:0.293333rem;
                line-height:0.8rem;
                text-align:center;
                background:red;
            }
    }
}
    
    