#list{
    height:100%;
    font-size:0.186667rem;
    display:flex;
    flex-direction:column;
    .header{
        display:flex;
        flex-direction:column;
        li{
            flex:1;
            height:0.56rem;
            line-height:0.56rem;
            border-bottom:0.013333rem solid #E7E7E7;
            ul{
                display:flex;
                li{
                    text-align:center;
                    .sousuo{
                        position:absolute;
                        top:0.106667rem;
                        left:0.826667rem;
                    }
                    input{
                        border-radius:0.2rem;
                        width:3.666667rem;
                        height:0.426667rem;
                        background-color:#EBEBEB;
                        padding-left:0.426667rem;
                        margin-bottom:0.133333rem;
                    }
                }
            }
        }
        .head_top{
            background-color:#F9F9F9;
            i{
                font-size:0.266667rem;
                color:#959595;
            }
            span{
                display:inline-block;
                width:0.186667rem;
                height:0.186667rem;
                background-color:#FF6666;
                border-radius:50%;
                text-align:center;
                line-height:0.186667rem;
                color:#fff;
                position:absolute;
                font-size:0.16rem;
                top:0.053333rem;
            }
        }
        .head_center{
            span{
                margin-right:0.066667rem;
            }
        }
        .head_bottom{
            span{
                display:inline-block;
                width:1.066667rem;
                height:0.4rem;
                background-color:#EEEEEE;
                line-height:0.4rem;
                border-radius:0.133333rem;
                >i{
                    color:#969696;
                }
            }
        }
    }
    .main{
        flex:1;
        overflow-x:hidden;
        li{
            height:1.866667rem;
            border-bottom:0.013333rem solid #E7E7E7;
            #Img{
                width:1.333333rem;
                height:1.066667rem;
                margin:0.306667rem 0.133333rem;
                float:left;
            }
            .main-right-top{
                height:0.933333rem;
                .goods-name{
                    margin-top:0.186667rem;
                }
                .ziying{
                    border:0.013333rem solid #ABDBFF;
                    font-size:0.16rem;
                    color:#ABDBFF;
                    margin-right:0.066667rem;
                }
                .cheng{
                    background-color:#F8F8F8;
                    font-size:0.16rem;
                    float:left;
                    // width:0.4rem;
                    // height:0.16rem;
                }
                .taocan{
                    float:left;
                    background-color:#FF6767;
                    color:#fff;
                    text-align:center;
                    width:0.533333rem;
                    height:0.266667rem;
                    border-radius:0.133333rem;
                }
            }
            .main-right-bottom{
                margin-top:0.2rem;
                >span{
                    color:#FF6666;
                }
                >p{
                    color:#C5C5C5;
                    margin-top:0.066667rem;
                    font-size:0.16rem;
                    .cart{
                        color:#FF6666;
                        font-size:0.266667rem;
                        margin-left:0.533333rem;
                    }
                }
            }
        }
    }
}