html,body{height: 100%;}
.login{
    display:flex;
    flex-direction:column;
    height: 100%;
    .head{
        height: 0.613333rem;
        border-bottom:1px solid #ccc;
        font-size:0.213333rem;
        line-height: 0.6rem;
        position:relative;
        margin-bottom:0.266667rem;
        background:#f9f9f9;
        .left{
            position:absolute;
            left:0.2rem;top:0.093333rem;
            font-size:0.4rem;
            color:#ccc;
        }
        .pu{
            margin-left:2.066667rem;
        }
        .kuai{
            margin-left:1.066667rem;
        }
    }
    .denglu{
        margin:0 0.266667rem;
        .log{
            width: 100%;
            height: 0.666667rem;
            border-bottom:1px solid #ccc;
            position:relative;
            input{
                width: 100%;
                height: 100%;
                position:absolute;
                padding-left:0.133333rem;
                font-size:0.186667rem;
            }
            .tu{
                display:inline-block;
                width: 1.12rem;
                height: 100%;
                position:absolute;
                right:1.04rem;top:0;
                font-size:0.373333rem;
                line-height: 0.666667rem;
            }
            .huan{
                display:inline-block;
                width: 1.04rem;
                height: 100%;
                font-size:0.16rem;
                position:absolute;
                right:0;top:0;
                text-align:center;
                line-height: 0.666667rem;
            }
        }
        .box{
            margin-top:0.2rem;
            height: 0.8rem;
            position:relative;
            .box1{
                display:inline-block;
                width: 0.213333rem;
                height: 0.213333rem;
                border:1px solid #ccc;
                border-radius:50%;
                position:absolute;
                left:0;top:0;
            }
            .sp1{
                font-size:0.16rem;
                position:absolute;
                left:0.293333rem;top:0;
            }
            .sp2{
                font-size:0.16rem;
                position:absolute;
                right:0;top:0;
            }
        }
        .btn{
            height:0.6rem;
            background:red;
            font-size:0.186667rem;
            line-height: 0.6rem;
            text-align:center;
            border-radius:0.066667rem;
        }
    }
    .new{
        font-size:0.186667rem;
        margin-top:0.24rem;
        text-align:center;
    }
    .qita{
        margin-top:0.64rem;
        font-size:0.186667rem;
        margin-left:0.266667rem;
        margin-right:0.266667rem;
        text-align:center;
        color:#9b9b9b;
        position:relative;
        span{
            margin:0 0.133333rem;
        }
        i{
            display:inline-block;
            width: 1.466667rem;
            border-bottom:1px solid #ccc;
        }
        .i1{
            position:absolute;
            left:0;top:0.106667rem;
        }
        .i2{
            position:absolute;
            right:0;top:0.106667rem;
        }
    }
    .wang{
        margin-top:0.32rem;
        margin-left:0.266667rem;
        margin-right:0.266667rem;
        .item{
            float:left;
            width: 0.666667rem;
            height: 0.666667rem;
            position:relative;
            border:1px solid #68A5E1;
            border-radius:50%;
            margin-right:0.266667rem;
            i{
                font-size:0.293333rem;
                position:absolute;
                left:0.173333rem;top:0.173333rem;
                color:#68A5E1;
            }
        }
        .item1{
            margin-right:0;
        }
        .item2{
            border-color:#F56467;
            i{
                color:#F56467;
            }
        }
        .item3{
            border-color:#58bc58;
            i{
                color:#58bc58;
            }
        }
    }
}