# 接口 
[
  {
      "crtTime":"2018-03-09 17:57:22",
      "gpId":2,
      "id":2426,
      "itemid":"50170987",
      "productImg":"https://p1.maiyaole.com/img/item/201804/25/380_20180425163906838.jpg",
      "productName":"阿斯利康 普米克令舒 吸入用布地奈德混悬液 2ml:0.5mg*30支",
      "productNo":"1601057313",
      "promotionWord":"治疗支气管哮喘",
      "sellPrice":298.0,
      "updTime":"2018-03-09 17:57:22"
  },
  {
      "crtTime":"2018-03-09 17:57:22",
      "gpId":2,
      "id":2427,
      "itemid":"974739",
      "productImg":"https://p3.maiyaole.com/img/item/201804/25/380_20180425163651915.jpg",
      "productName":"顺尔宁 孟鲁司特钠咀嚼片 4mg*5片",
      "productNo":"0009747391",
      "promotionWord":"防治儿童哮喘",
      "sellPrice":30.8,
      "updTime":"2018-03-09 17:57:22"
  }
]